/* styles.css */
body {
  font-family: Arial, sans-serif;
  background-color: #ffe4e1; /* Latar belakang pink muda */
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  margin-bottom: 30px;
}

h1 {
  font-size: 24px;
  color: #c71585; /* Warna teks pink tua */
}

nav {
  background-color: #ff69b4; /* Warna pink cerah untuk navigasi */
  border-radius: 8px;
  padding: 10px 0;
  margin-bottom: 20px;
}

nav ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: #ffffff; /* Warna teks putih */
  text-decoration: none;
  font-size: 18px;
}

nav ul li a:hover {
  text-decoration: underline;
}

section {
  text-align: center;
}

footer {
  text-align: center;
  margin-top: 50px;
  font-size: 14px;
  color: #d87093; /* Pink medium untuk teks footer */
}
